.App {
  text-align: center;
  background-color: #FAF5F4;
}

.App-header {
  background-color: #FAF5F4;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: left;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: 10px solid yellow;
}

.App-link {
  color: #61dafb;
}


