.App {
  text-align: center;
  background-color: #FAF5F4;
}

.App-header {
  background-color: #FAF5F4;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 15px;
  border-bottom: 10px solid yellow;
}

.App-link {
  color: #61dafb;
}

.MenuList {
  left: 0;
  position: fixed;
  margin: 5px;
  padding-left: 15px;  
}

.Cart {
  right: 0;
  position: fixed;
  margin: 5px;
  padding-right: 15px;
  opacity: .7;
}