.App {
  text-align: center;
  background-color: #FAF5F4;
}

.App-header {
  background-color: #FFF812;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 15px;
}


/*
  Component layout 
*/

.ItemDisplay{ 
    padding: 50px;
    text-align: left;
}

.ImgStyle {
  width: 150px;
  height: 150px;
}

/*
  Fonts
*/

.ItemName {

}

.App-link {
  color: #61dafb;
}

.MenuList {
  left: 0;
  position: fixed;
  margin: 5px;
  padding-left: 15px;  
}

.Cart {
  right: 0;
  position: fixed;
  margin: 5px;
  padding-right: 15px;
  opacity: .7;
}