body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #FAF5F4;
}

.App-header {
  background-color: #FFF812;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}


/*
----------------------------------------
  Component layout 
----------------------------------------
*/

.bannerdefault {
  width: 100%;
  height: 100px;
  background: #000000;
 /* margin: 50px;*/
}

.ItemDisplay{ 
    margin: 100px;
    text-align: left;
}

.ImgStyle {
  width: 250px;
  height: 250px;
}

.PriceStyle {
  font-family: 'Impact';
  color: #48FE2B;
  font-size: 25px;
}

.ItemName {
  font-size: 60px;
  font-family: 'Staatliches', cursive;
}

.DescStyle {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-size: 20px;
}

.ItemDisplay {
  border-bottom: 1px solid #FFF812;
  margin: 20px;
}

.CartAdd {
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  margin: 5px;
}


/*
------------------------------------------------------
  Fonts
-------------------------------------------------------
*/

.appname {
  font-size: 35px;
  font-family: 'Staatliches', cursive;
}

.App-link {
  color: #61dafb;
}

.MenuList {
  left: 0;
/*  position: fixed;*/
  text-align: left;
/*  margin: 5px;
  padding-left: 15px;  */
}

.Cart {
  right: 0;
  text-align: right;
/*  position: fixed;*/
/*  margin: 5px;*/
/*  padding-right: 15px;*/
  opacity: .7;
}
